{%- assign list_pages = site.pages | sort:"date" | reverse -%}
{%- assign post_counts = 0 -%}

<h1 class="category-header">
    Hola, soy Ignacio Jara
</h1>

<h2 class="small-header">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; En este portafolio voy a estar subiendo mis proyectos, trabajos y recomendaciones
</h2>
<h2 class="small-header">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Algunas cosas que puedan interesarte:
</h2>

<div id="category-list">
    <ul class="paginated-list" data-current-page="1" aria-live="polite">
    {%- for sub_page in list_pages -%}
        {%- assign page_url = page.url | remove: 'index.html' -%}
        {% if sub_page.url contains page_url %}
        {% unless sub_page.url contains "index.html" %}
            {%- assign post_counts = post_counts | plus:1 -%}

            {% if sub_page.categories contains "Favoritos" %}
                <li class="paginated-item">
                    <div id="article_content">
                        <div class="thumbnail_zone">
                            {% if sub_page.thumbnail != nil %}
                                {%- assign thumbnail_url = sub_page.thumbnail -%}
                                {%- assign check_localasset = thumbnail_url | split:'/' -%}
                                {% if check_localasset[0] == '' %}
                                    {%- assign thumbnail_url = thumbnail_url | prepend: site.baseurl -%}
                                {% endif %}
                                <a href="{{ sub_page.url | prepend: site.baseurl }}" class="thumbnail_post" loading="lazy" aria-label="thumbnail_post" style="background-image:url('{{ thumbnail_url }}') !important"></a>
                            {% else %}
                                <a href="{{ sub_page.url | prepend: site.baseurl }}" class="thumbnail_post empty" loading="lazy" aria-label="thumbnail_post" style="background-image:url('{{ '/assets/img/thumbnail/empty.jpg' | prepend: site.baseurl }}') !important"></a>
                            {% endif %}
                        </div>
                        <div class="box_contents">
                            <a href="{{ sub_page.url | prepend: site.baseurl }}"><h1 class="title_post">{{ sub_page.title }}</h1></a>
                            <a href="{{ sub_page.url | prepend: site.baseurl }}" class="txt_post">
                                {{ sub_page.content | markdownify | strip_html | truncatewords: 50 }}
                            </a>
                            <div class="info-post">
                                <span class="category">{{ sub_page.categories | join: ", " }}</span>
                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endunless %}
        {% endif %}
    {%- endfor -%}
    </ul>

    {% if post_counts == 0 %}
        <div class="no-posts">
            <img src="{{ '/assets/img/sorry.png' | prepend: site.baseurl }}" alt="No posts found">
            <h1>No hay posts destacados aún</h1>
        </div>
    {% endif %}
</div>



