$color-wenge: #e1007c;
$color-beige: #a5cd14;
$color-darkbrown: #b9cd39;
$color-darkorange: #1cad67;
$color-rose: #a81622;
$color-aqua: #10a4a4;
$sidebarwd: 18rem;
$contentwd: 54rem;

$mediawd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;